{% extends 'first_lab/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
{#    <div class="pages" id="start-page">#}
{#        <h1 id="title">Ваши мысли и идеи</h1>#}
{#        <h2 id="tagline">Прекрасная возможность выразить себя</h2>#}
{#        <button id="create"></button>#}
{#        <button id="create"></button>#}
{#    </div>#}
    <main class="page">
        <div class="page__main-block main-block">
            <div class="main-block__container _container">
                <div class="main-block__body">

                    <h1 class="main-block__title">{% trans 'Make your dreams come true' %}</h1>

                    <div class="main-block__text">
                        {% trans 'Realise all you want' %}
                    </div>

                </div>
            </div>
            <div class="main-block__image _ibg">
                <img src="{% static "first_lab/images/back.jpg" %}" alt="cover">
            </div>
        </div>
    </main>
{% endblock %}