{% extends 'first_lab/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
{#    <div class="pages" id="start-page">#}
{#        <h1 id="title">Ваши мысли и идеи</h1>#}
{#        <h2 id="tagline">Прекрасная возможность выразить себя</h2>#}
{#        <button id="create"></button>#}
{#        <button id="create"></button>#}
{#    </div>#}
    <main class="page">
        <div class="page__main-block main-block">
            <div class="main-block__container _container">
                <div class="main-block__body">
                    <form method="post">
                        {%csrf_token %}
                        <H2>{% trans 'Search' %}</H2>
                        {{form.as_p}}
                        <input type ="submit" value="Search">
                    </form>

                    {% for data in dataset %}
                    <h3>{{data.blog_title}}</h3>
                    <a href = "{% url 'blog' _id=data.id %}">{% trans 'Read more' %}</a>
                    <hr/>
                    {% endfor %}
                </div>
            </div>
            <div class="main-block__image _ibg">
                <img src="{% static "first_lab/images/back.jpg" %}" alt="cover">
            </div>
        </div>
    </main>
{% endblock %}